/* src/components/ArtistWidget.css */
.widget-container {
  padding: 20px;
  background-color: #181818;
  border-radius: 10px;
}

.widget-title {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 10px;
}

.search-input {
  width: 100%;
  padding: 12px;
  background-color: #333;
  color: white;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 1rem;
}

.loading-text {
  color: white;
  font-size: 1rem;
}

.search-results {
  margin-top: 20px;
}

.search-result-item {
  background-color: #444;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-result-item:hover {
  background-color: #1db954; /* Spotify green */
}

.artist-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
}

.artist-info {
  flex-grow: 1;
}

.artist-info h3 {
  font-size: 1.2rem;
  color: white;
}

.no-results {
  color: #bbb;
  padding: 10px;
  font-size: 1rem;
  text-align: center;
}
