/* src/components/Header.css */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #121212;
  color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.logo-container {
  flex-grow: 1;
}

.header-logo {
  font-size: 2rem;
  font-weight: bold;
  color: #1db954; /* Verde de Spotify */
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #1db954; /* Cambia el color al pasar el mouse */
}

.logout-button {
  background-color: #e53935;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
}

.logout-button:hover {
  background-color: #d32f2f;
}
