
.track-card {
  background-color: #181818;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s;
}

.track-card:hover {
  transform: scale(1.05);
}

.track-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.track-card h3 {
  margin-top: 10px;
  color: white;
}

.track-card p {
  color: #b3b3b3;
}
