/* src/components/PlaylistStatsWidget.css */
.widget-container {
  padding: 20px;
  background-color: #181818;
  border-radius: 10px;
}

.widget-title {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 10px;
}

.playlist-dropdown {
  width: 100%;
  padding: 12px;
  background-color: #333;
  color: white;
  border-radius: 8px;
  margin-bottom: 20px;
}

.playlist-stats {
  margin-top: 20px;
}

.playlist-info {
  display: flex;
  gap: 20px;
}

.playlist-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.playlist-stats h3 {
  margin-bottom: 10px;
}

.playlist-stats p {
  margin: 5px 0;
}
