/* src/components/PopularityWidget.css */
.widget-container {
  padding: 20px;
  background-color: #181818;
  border-radius: 10px;
}

.widget-title {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 10px;
}

.popularity-slider {
  width: 100%;
  height: 5px;
  background-color: #333;
  border-radius: 5px;
  outline: none;
  appearance: none;
}

.popularity-slider:hover {
  background-color: #1db954;
}
