/* src/components/Rating.css */
.rating-container {
  background-color: #121212;
  padding: 15px;
  border-radius: 10px;
  color: white;
}

.stars {
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.star {
  font-size: 2rem;
  color: #bbb;
}

.star.filled {
  color: #f9a825;
}

.star:hover {
  color: #1db954;
}
