/* src/components/Recommendations.css */
.recommendations-container {
  padding: 20px;
  background-color: #121212;
  color: white;
}

.recommendations-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.recommendations-list .playlist-track {
  background-color: #181818;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.recommendations-list .track-image {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.recommendations-list .track-title {
  font-size: 1rem;
  color: white;
}

.recommendations-list .track-artist {
  font-size: 0.9rem;
  color: #bbb;
}
